.savemovies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 150px;
}

.savemovies__found-error {
  margin: 0;
  text-align: center;
  max-width: 480px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FF3055;
}

.savemovies__found-error_hidden {
  display: none;
}

.savemovies__error {
  margin: 0;
  text-align: center;
  max-width: 480px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FF3055;
}

.savemovies__error_hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .savemovies {
    padding-bottom: 170px;
  }
}
@media screen and (max-width: 600px) {
  .savemovies {
    padding-bottom: 160px;
  }
}
