.login {
  display: flex;
  justify-content: center;
}

.login__container {
  margin: 70px 0 0;
  width: 100%;
  max-width: 396px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.login__logo {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.login__logo-image {
  height: 38px;
  width: 38px;
}

.login__title {
  margin: 40px 0 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.login__form {
  position: relative;
}

.login__input-title {
  padding: 0;
  margin: 0 0 5px;
  color: rgba(160, 160, 160, 1);
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.login__input {
  padding: 0 0 10px;
  margin: 0 0 24px;
  width: 100%;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background-color: transparent;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.login__input:focus {
  outline: none;
}

.login__input:last-of-type {
  margin: 0 0 42px;
}

.login__input_type_error {
  color: #FF3055;
}

.login__error {
  position: absolute;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: rgba(255, 48, 85, 1);
  top: 50px;
  left: 0;
}

.login__error:nth-of-type(2n) {
  top: 118px;
}

.login__submit {
  margin: 179px 0 16px;
  padding: 0;
  height: 45px;
  width: 100%;
  background: #3456F3;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border: none;
  transition: opacity .3s linear;
  cursor: pointer;
}

.login__submit:focus {
  outline: none;
}

.login__submit:hover {
  opacity: .8;
}

.login__signup {
  margin: 0;
  color: #A0A0A0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-self: center;
}

.login__signup-link {
  margin: 0 0 0 6px;
  text-decoration: none;
  color: #3456F3;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  transition: opacity .3s linear;
  cursor: pointer;
}

.login__signup-link:hover {
  opacity: .8;
}

@media screen and (max-width: 800px) {
  .login__container {
    margin-top: 232px;
  }
}
@media screen and (max-width: 500px) {
  .login__container {
    margin-top: 56px;
    max-width: 260px;
  }
  .login__logo {
    align-self: center;
  }
  .login__title {
    margin: 50px 0 80px;
  }
  .login__submit {
    margin: 267px 0 14px;
    font-size: 12px;
    line-height: 15px;
  }
  .login__signup {
    font-size: 12px;
    line-height: 15px;
  }
  .login__signup-link {
    margin-left: 7px;
    font-size: 12px;
    line-height: 15px;
  }
}
